body {
    background: linear-gradient(90deg, #e66465, #9198e5);
}

.page1Header {
    width: 35%;
    height: 2.5%;
    text-align: center;
    border-radius: 10px;
    color: black;
    background: linear-gradient(to bottom, #e88b69, #d5a064);
    border: 2px solid #db7955;
    margin: auto;
}

.Home button {
    height: 50px;
    border: 2px solid #db7955;
    margin: auto;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-stretch: expanded;
    background: linear-gradient(to bottom, #e88b69, #d5a064);
}

.page1Header h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-stretch: expanded;
}

