body {
    height: 100%;
    background: linear-gradient(90deg, #a6a6a6, #cdcdcd);
    transition: background-image 0.5s ease;
}

.headerContainer {
    font-size: medium;
    display: flex;
    min-height: 50px;
    margin: 0 auto;
    background-color: #959191;
}

.page1Header {
    font-family: 'vcrOSD';
    flex: 0.5;
    transition-duration: 0.3s;
    flex: 1;
    text-align: center;
    border-radius: 2px;
    color: black;
    background: transparent;
    border: 5px solid #94e2eb;
}

.page1Header:hover {
    color: white;
    font-size: larger;
}

.homeButton {
    font-family: 'vcrOSD';
    font-weight: bold;
    transition-duration: 0.3s;
    margin-left: 2%;
    flex: 0.2;
    border: 5px solid #94e2eb;
    background-color: transparent;
    border-radius: 2px;
    font-stretch: expanded;
}

.homeButton:hover {
    font-weight: normal;
    color: white; 
    cursor: pointer;
    font-size: large;

}

.infoButton {
    font-family: 'vcrOSD';
    font-weight: bold;
    transition-duration: 0.3s;
    margin-left: 2%;
    flex: 0.2;
    border: 5px solid #94e2eb;
    border-radius: 2px;
    font-stretch: expanded;
    background: transparent;
}

.infoButton:hover {
    font-weight: normal;
    color: white; 
    cursor: pointer;
    font-size: large;
}

.companiesButton {
    font-family: 'vcrOSD';
    font-weight: bold;
    transition-duration: 0.3s;
    margin-left: 2%;
    flex: 0.2;
    border: 5px solid #94e2eb;
    border-radius: 2px;
    font-stretch: expanded;
    background: transparent;
}

.companiesButton:hover {
    font-weight: normal;
    color: white; 
    cursor: pointer;
    font-size: large;
}

.page1Header h1 {
    font-size: larger;
    font-stretch: expanded;
}

.companiesContainer {
    display: flex;
    justify-content: space-around;
    color: black;
    font-family: lato;
    font-size: medium;
    text-align: center;
    transition-duration: 2s;
}

.companiesHeading {
    opacity: 0;
    transition-duration: 1.5s;
    color: white;
    text-shadow: 1px 1px black;
    font-family: lato;
    font-size: 100%;
    margin-top: auto;
    text-align: center;
}

.steam, .apple, .ferrari {
    width: auto; /* Adjust as needed */
    font-family: lato;
    height: 100%;
    border-radius: 15px 80px;
    background-color: white;
}