body {
    height: 100%;
    background: linear-gradient(90deg, #e66465, #9198e5);
}

@font-face {
    font-family: lato;
    src: url(Lato-Italic.ttf);
}
  
  div {
    font-family: lato;
}

.headerContainer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    display: flex;
    min-height: 50px;
    margin: 0 auto;
}

.page1Header {
    transition-duration: 0.3s;
    flex: 1;
    text-align: center;
    border-radius: 10px;
    color: black;
    background: linear-gradient(to bottom, #e88b69, #d5a064);
    border: 2px solid #db7955;
}

.page1Header:hover {
    font-size: larger;
}

.homeButton {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition-duration: 0.3s;
    margin-left: 2%;
    flex: 0.2;
    border: 2px solid #db7955;
    border-radius: 10px;
    font-stretch: expanded;
    background: linear-gradient(to bottom, #e88b69, #d5a064);
}

.homeButton:hover {
    background: linear-gradient(to bottom, #ffcebc, #ffdcb6);
    color: white; 
    cursor: pointer;
    font-size: large;
}

.infoButton {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition-duration: 0.3s;
    margin-left: 2%;
    flex: 0.2;
    border: 2px solid #db7955;
    border-radius: 10px;
    font-stretch: expanded;
    background: linear-gradient(to bottom, #e88b69, #d5a064);
}

.infoButton:hover {
    background: linear-gradient(to bottom, #ffcebc, #ffdcb6);
    color: white; 
    cursor: pointer;
    font-size: large;
}

.companiesButton {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition-duration: 0.3s;
    margin-left: 2%;
    flex: 0.2;
    border: 2px solid #db7955;
    border-radius: 10px;
    font-stretch: expanded;
    background: linear-gradient(to bottom, #e88b69, #d5a064);
}

.companiesButton:hover {
    background: linear-gradient(to bottom, #ffcebc, #ffdcb6);
    color: white; 
    cursor: pointer;
    font-size: large;
}

.page1Header h1 {
    font-size: larger;
    font-stretch: expanded;
}

.companiesContainer {
    display: flex;
    color: black;
    font-family: lato;
    font-size: medium;
    text-align: center;
}

.companiesHeading {
    opacity: 0;
    transition-duration: 1.5s;
    color: white;
    text-shadow: 1px 1px black;
    font-family: lato;
    font-size: 100%;
    margin-top: 5%;
    text-align: center;
}

.steam {
    height: 100%;
    border-radius: 15px 80px;
    background-color: white;
}

.apple {
    transition-duration: 2s;
    height: 100%;
    border-radius: 15px 80px;
    background-color: white;
}

.ferrari {
    transition-duration: 2s;
    height: 100%;
    border-radius: 15px 80px;
    background-color: white;
}